{% extends "base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'artifacts/app.css' %}" />
{% endblock %} {% block title %}About{% endblock %} {% block content %}
<div class="about-container">
  <div class="about-content">
    <div class="about-question">
      <input id="q0" type="checkbox" class="panel" />
      <label for="q0" class="panel-title"> About this site? </label>
      <div class="panel-content">
        <p>
          This website was created as a project as part of the CodeNation Master
          course. The goal of this project was to use Python, Html, CSS, and
          Django to create a database holding information about our chosen topic
          - Artifacts. Throughout the site you will be able to see information
          about; individual artifacts including, where it is stored, who
          discovered the artifact and when the artifact was found, you will also
          be able to look at all artifacts stored in the same location and all
          artifacts discovered in the same year.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="imgs-container">
  <div class="imgs-row">
    <div class="box">
      <div class="img-box">
        <img class="looped-img" src="/artifacts/static/joe.jpg" />
      </div>
      <div class="details">
        <div class="content">
          <h3>Has bad luck</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="imgs-row">
        <div class="box">
          <div class="img-box">
            <img class="looped-img" src="/artifacts/static/maddy.png" />
          </div>
          <div class="details">
            <div class="content">
              <h3>Loves Artifacts and coding</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="imgs-row">
        <div class="box">
          <div class="img-box">
            <img class="looped-img" src="/artifacts/static/katie.jpg" />
          </div>
          <div class="details">
            <div class="content">
              <h3>Frontend Extraordinaire</h3>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}
