{% extends "base.html" %}
{% load static %}

{% block title %}Totems{% endblock %}
{% block content %}

<h1 class="title">Artifacts</h1>
<div class="imgs-container">
    {% for artifact in artifacts %}        
                <div class="box">
                    <div class="img-box">
                        <img class="looped-img" src="{{ artifact.image }}">
                    </div>
                    <div class="details">
                        <div class="content">
                            <a href="{% url 'artifact_info' artifact.id %}">{{ artifact.text }}</a>
                        </div>
                </div>
            </div>
    {% endfor %}   
</div>
{% endblock %}