{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'artifacts/app.css' %}">
{% endblock %}
{% block title %}Discovery{% endblock %}
{% block content %}
<h1 class="title">Discovered in {{ date }}</h1>
<div class="contains">
    <ul>
        {% for artifact in artifacts %}
        <a href="{% url 'artifact_info' artifact.id %}">
            <li>Discovered by: {{ artifact.discovered_by }}</li>
            <br>
            <li>Found in: {{ artifact.pub_date }}</li>
            <br>
            <a href="{% url 'location_info' artifact.location.id %}">
                <li>Stored in: {{ artifact.location.text }}</li>
            </a>
            <br>
            <li>History: {{ artifact.info }}</li>
        </a>
        {% empty %}
        <h2>Nothing Discovered</h2>
        {% endfor %}
    </ul>
</div>
{% endblock %}