{% extends "base.html" %}
{% load static %}
{% block css %} 
<link rel="stylesheet" href="{% static 'artifacts/app.css' %}">
{% endblock %}
{% block title %}Discovery{% endblock %}
{% block content %}
    <h1>Discovered {{ date }}</h1>
    <ul>
        {% for artifact in artifacts %}
            <li>{{ artifact.discovered_by }}</li>
            <li>{{ artifact.pub_date }}</li>
            <li>{{ artifact.info }}</li>            
            <li>{{ artifact.location.text }}</li>            
        {% empty %}
            <h2>Nothing Discovered</h2>
        {% endfor %}
    </ul>
{% endblock %}