{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'artifacts/app.css' %}">
{% endblock %}
{% block title %}Locations{% endblock %}
{% block content %}
<h1 class="title">Locations</h1>
<div class="imgs-container">
    {% for location in locations %}
    <div class="box">
        <div class="img-box">
            <img class="looped-img" src="http://{{host_prefix}}/{{ location.image }}">
        </div>
        <div class="details">
            <div class="content">
                <a href="{% url 'location_info' location.id %}">{{ location.text }}</a>
            </div>
        </div>
    </div>
    {% empty %}
    <h2>No Locations</h2>
    {% endfor %}
</div>
{% endblock %}