{% extends "base.html" %}
{% load static %}
{% block css %} 
<link rel="stylesheet" href="{% static 'artifacts/app.css' %}">
{% endblock %}
{% block title %}Artifact{% endblock %}
{% block content %}
    <img class="looped-img" src="http://{{host_prefix}}/{{ artifact.image }}">
    {{ artifact.discovered_by }}
    {{ artifact.pub_date }}
    {{ artifact.info }}
    
        <a href="{% url 'location_info' artifact.location.id %}">Found in: {{ artifact.location.text }}</a>
    
    

{% endblock %}