{% extends "base.html" %}
{% load static %}
{% block css %} 
<link rel="stylesheet" href="{% static 'artifacts/app.css' %}">
{% endblock %}
{% block title %}Artifact{% endblock %}
{% block content %}
    <img class="looped-img" src="http://{{host_prefix}}/{{ artifact.image }}">
    {{ artifact.discovered_by }}
    {{ artifact.pub_date }}
    {{ artifact.info }}
    {% for location in artifact.location_set.all %}
        <a href="{% url 'location_info' location.id %}">Found in: {{ location.text }}</a>
    {% endfor %}
    

{% endblock %}