{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'artifacts/app.css' %}">
{% endblock %}
{% block title %}Shared Location{% endblock %}
{% block content %}

<h2 class="title-extra">All artifacts in: {{location.text}}</h2>
<img class="single_artifact" src="http://{{host_prefix}}/{{ location.image }}">

<div class="contains">
    <ul>
        {% for artifact in artifacts %}
        <li><a href="{% url 'artifact_info' artifact.id %}">{{ artifact.text }}</a></li>
        {% empty %}
        <h2>No shared locations</h2>
        {% endfor %}
    </ul>
</div>
{% endblock %}