{% extends "base.html" %}
{% load static %}
{% block css %} 
<link rel="stylesheet" href="{% static 'artifacts/app.css' %}">
{% endblock %}
{% block title %}Shared Location{% endblock %}
{% block content %}

    
    <img src="http://{{host_prefix}}/{{ location.image }}">
    <h1>All artifacts in: {{location.text}}</h1>
    <ul>
        {% for artifact in artifacts %}
                <li><a href="{% url 'artifact_info' artifact.id %}">{{ artifact.text }}</a></li>                      
        {% empty %}
                <h2>No shared locations</h2>
        {% endfor %}
    </ul>
{% endblock %}